#edit-card {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

#edit-card:not(:empty) {
  display: flex;
}

.edit-card {
  height: 592px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  display: flex;
  background-color: var(--background-color-site);
  z-index: 3;
  position: relative;
}

.edit-card-form {
  width: 736px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  background-color: var(--background-color-site);
  border-radius: 0 16px 16px 0;
}

.edit-card-form-input form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 422px;
}

.edit-card-headline {
  width: 467px;
  height: 592px;
  padding: 66px 46px;
  background-color: var(--button-color);
  border-radius: 16px 0 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.edit-card-headline img {
  height: 66.48px;
  width: 53.93px;
}

.edit-card-header {
  font-weight: 700;
  font-size: 61px;
  color: var(--background-color-site);
  display: flex;
  flex-direction: column;
}

.edit-card-btn-wrapper {
  display: flex;
  justify-self: start;
  gap: 16px;
  align-self: start;
}

.card-circle-center {
  margin-bottom: 32px;
}

.edit-card-btn {
  height: 55px;
  padding: 15px 25px;
  border-radius: 8px;
  font-size: 21px;
  display: flex;
  gap: 8px;
  align-self: start;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.contact-info-card {
  height: 128px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-info-card a {
  text-decoration: none;
  color: var(--light-blue);
}

.contact-info-card .second-cart-font {
  color: black;
}

.add-contacts-card {
  width: 467px;
  height: 594px;
  padding: 66px 48px;
  gap: 12px;
  background-color: gray;
  color: var(--background-color-site);
}

.edit-card-from-input {
  width: 422px;
  height: 50px;
  border-radius: 10px;
  padding: 13px 52px 13px 21px;
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 24px;
  border: 1px solid #d1d1d1;
  font-size: 20px;
  box-sizing: border-box;
}

.edit-card-from-input:focus,
.edit-card-from-input:focus-within,
.edit-card-from-input:focus-visible {
  outline-color: var(--light-blue);
}

.edit-card-content img {
  height: 66.48px;
  width: 53.93px;
}

.edit-card-footer {
  font-weight: 700;
  font-size: 61px;
  color: var(--background-color-site);
  display: flex;
  flex-direction: column;
}

.edit-card-content {
  width: 745px;
  height: 592px;
  padding: 66px 46px;
  background-color: var(--content-color);
  border-radius: 0 16px 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.edit-card-from-input:active {
  border: 1px solid var(--contacts-link-color);
}

.large-card-text {
  font-size: 27px;
  font-weight: 400;
  display: inline-block;
}

.small-card-text {
  font-size: 27px;
  font-weight: 400;
  display: inline-block;
}

.single-contact-name-card {
  height: 88px;
  font-size: 47px;
  flex: 1;
}

.right-slide-animation {
  animation: slideIn 225ms ease-in;
}

.slideInMobile {
  animation: slideInMobileFromRight 225ms ease;
}

.slide-back-animation {
  animation: slideOut 225ms ease-in;
}

#submitContact:disabled {
  background-color: gray;
  color: var(--background-color-site);
  cursor: not-allowed;
}

@keyframes slideFromBottomToTop {
  0% {
    top: 160%;
  }

  100% {
    top: 10%;
  }
}

@keyframes slideFromTopToBottom {
  0% {
    top: 10%;
  }

  100% {
    top: 160%;
  }
}

@keyframes slideInMobileFromRight {
  0% {
    right: 0;
  }

  100% {
    right: 111%;
  }
}

@keyframes slideIn {
  0% {
    margin-left: 1000px;
  }

  100% {
    margin-left: 0;
  }
}

@keyframes slideOut {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: 1000px;
  }
}

@media (max-width: 1023px) {
  #edit-card {
    height: 100dvh;
    z-index: 2000;
  }

  .edit-card {
    flex-direction: column;
    border-radius: 30px;
    width: 400px;
    max-width: calc(100vw - 32px);
    height: 748px;
    max-height: calc(100dvh - 48px);
    overflow: hidden;
  }

  .edit-card-headline {
    width: 100%;
    padding: 20px;
    border-radius: 30px 30px 0 0;
    height: 40%;
    box-sizing: border-box;
  }

  .edit-card-headline img {
    display: none;
  }

  .edit-card-form {
    border-radius: 0 0 30px 30px;
    padding: 62px 20px 24px;
    width: 100%;
    height: 60%;
    box-sizing: border-box;
    flex-direction: column;
  }

  .edit-card-form-input {
    width: 100%;
  }

  .edit-card-form-input form {
    width: 100%;
  }

  .edit-card-from-input {
    width: 100%;
  }

  .close-btn {
    top: 2%;
    right: 24px;
    left: auto;
  }

  #closeBtn {
    fill: var(--background-color-site);
  }

  .close-btn:hover {
    background-color: var(--light-blue);
  }

  .mobileCirclePosition {
    position: absolute;
    top: 32%;
  }

  .right-slide-animation {
    animation: slideFromBottomToTop 0.2s ease-in;
  }

  .slide-back-animation {
    animation: slideFromTopToBottom 0.3s ease-in;
  }
}

@media (max-width: 500px) {
  .edit-card {
    width: 380px;
  }

  .edit-card-header {
    font-size: 58px;
  }
}

@media (max-width: 389px) {
  .edit-card {
    width: 324px;
    height: 542px;
  }

  .edit-card-header {
    font-size: 44px;
  }

  .small-screen-display-none {
    display: none;
  }

  .close-btn {
    right: 18px;
    left: auto;
  }

  .edit-card-form {
    padding: 44px 16px 16px;
  }

  .edit-card-form-input form {
    gap: 18px;
  }
}

@media (max-width: 350px) {
  .edit-card {
    width: 310px;
  }

  .mobile-btn-font-size {
    font-size: 14px;
  }
}